:root {
    --interface-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --monospace-font: monospace;

    --topbar-height: 32px;
    --main-heading-height: 32px;

    --main-background-color: #353535;
    --main-color: #ddd;
    --hover-background-color: #676767;
    --select-background-color: #444444;
    --border-color: #4e4e4e;
    --code-block-background-color: #2a2a2a;

    --mutation-group-background-color: #635556;

    --status-not-ran-background-color: rgba(0, 0, 0, 0.9);
    --status-undetected-background-color: rgba(255, 31, 31, 0.9);
    --status-detected-background-color: rgba(0, 128, 0, 0.9);
    --status-timed-out-background-color: rgba(115, 0, 128, 0.9);
    --status-crashed-background-color: rgba(0, 20, 128, 0.9);
    --status-undetected-color: rgba(255, 31, 31, 0.9);
    --status-detected-color: rgba(0, 255, 0, 0.9);
    --status-timed-out-color: rgba(230, 0, 255, 0.9);
    --status-crashed-color: rgba(0, 38, 255, 0.9);

    /* NOTE: Syntax highlight colors taken from rustdoc. */
    --code-highlight-kw-color: #ab8ac1;
    --code-highlight-kw-2-color: #769acb;
    --code-highlight-lifetime-color: #d97f26;
    --code-highlight-prelude-color: #769acb;
    --code-highlight-prelude-val-color: #ee6868;
    --code-highlight-number-color: #83a300;
    --code-highlight-string-color: #83a300;
    --code-highlight-literal-color: #ee6868;
    --code-highlight-attribute-color: #ee6868;
    --code-highlight-self-color: #ee6868;
    --code-highlight-macro-color: #3e999f;
    --code-highlight-question-mark-color: #ff9011;
    --code-highlight-comment-color: #8d8d8b;
    --code-highlight-doc-comment-color: #8ca375;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--main-background-color);
    color: var(--main-color);

    font-family: var(--interface-font);
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

a {
    color: var(--main-color);

    &:has(> .def-path) {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.badge {
    display: inline;
    margin-inline: 0.3em;
    padding-inline: 0.3em;
    padding-block: 0.1em;
    border-radius: 4px;

    background-color: var(--code-block-background-color);

    /* NOTE: Avoid tab badges expanding tab margins. */
    .tab > &:last-child {
        margin-inline-end: 0;
    }

    > * {
        padding-inline: 0.2em;
    }

    .undetected {
        color: var(--status-undetected-color);
    }
}

.status {
    padding-inline: 0.3em;
    border-radius: 4px;

    font-family: var(--interface-font);

    background-color: red;

    &.not-ran {
        background-color: var(--status-not-ran-background-color);
    }
    &.undetected {
        background-color: var(--status-undetected-background-color);
    }
    &.detected {
        background-color: var(--status-detected-background-color);
    }
    &.timed-out {
        background-color: var(--status-timed-out-background-color);
    }
    &.crashed {
        background-color: var(--status-crashed-background-color);
    }
}

.value {
    font-weight: 700;

    &.undetected {
        color: var(--status-undetected-color);
    }
    &.detected {
        color: var(--status-detected-color);
    }
    &.timed-out {
        color: var(--status-timed-out-color);
    }
    &.crashed {
        color: var(--status-crashed-color);
    }
}

.inline-stats {
    .label, .value {
        padding-inline: 0.2em;
    }

    .label {
        padding-inline-end: 0.4em;

        color: var(--main-color);
    }
}

.labeled-stats {
    display: flex;
    flex-direction: row;

    * {
        margin-inline: 0.5em;
    }

    .divider {
        width: 1px;
        min-height: 100%;
        background-color: var(--border-color);
    }
}

.inline-code {
    padding-inline: 0.3em;
    border-radius: 4px;

    font-family: var(--monospace-font);

    background-color: rgba(0, 0, 0, 0.3);
}

.def-path {
    font-family: var(--monospace-font);

    > .sep {
        color: gray;
    }
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: var(--topbar-height);

    border-bottom: 1px solid var(--border-color);

    & > * {
        display: flex;
        align-items: center;
        height: 100%;
    }

    & .logo, & .tab {
        padding-inline: 0.75em;

        user-select: none;

        text-decoration: none;
        color: var(--main-color);

        &:hover {
            background-color: var(--hover-background-color);
        }
    }

    & .logo {
        font-weight: 700;
    }

    & .tab {
        &.active {
            box-shadow: 0px 1px var(--main-color);
        }
    }
}

.page-layout {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: calc(100% - var(--topbar-height));
}

.sidebar {
    width: 300px;
    height: auto;
    min-height: 100%;
    overflow-y: auto;

    border-right: 1px solid var(--border-color);

    ol {
        list-style: none;
    }

    li {
        & > .item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            padding-inline: 1em 0;

            user-select: none;

            text-decoration: none;
            color: var(--main-color);

            &.selected {
                background-color: var(--select-background-color);
            }

            &:hover {
                background-color: var(--hover-background-color);
            }

            .name {
                padding-block: 0.25em;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & > ol {
            padding-inline-start: 1em;
        }
    }
}

.main-content {
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-y: scroll;

    /* Determine whether we need to apply a sticky offset to subheaders depending on whether the page has a main sticky header. */
    --sticky-offset: 0;
    &:has(> header) {
        --sticky-offset: var(--main-heading-height);
    }
    /* Ensure that the main sticky header does not cover the scrolled to element. */
    scroll-padding-top: var(--sticky-offset);

    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        position: sticky;
        top: 0px;
        left: 0px;
        width: 100%;
        min-height: var(--main-heading-height);
        padding-block: 0.3em;
        padding-inline: 0.75em;

        /* NOTE: The main header must be rendered above all other headers so that the section headers can slide underneath it. */
        z-index: 1;

        section > & {
            top: var(--main-heading-height);

            /* NOTE: The section headers must be rendered below the main header so that the main header can stay on top. */
            z-index: 0;
        }

        /* Keep headers to one line of text, replacing overflow with ellipsis. */
        /* NOTE: This must be applied to each child element individually to apply correctly. */
        &, > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        background-color: var(--main-background-color);

        border-bottom: 1px solid var(--border-color);

        h1 {
            padding-inline-end: 1em;

            font-size: 1em;
            font-weight: 700;
        }
    }
}

section.text {
    margin-block: 1em;

    > * {
        padding-inline: 0.75em;
    }

    > h2 {
        margin-block: 0.25em;
        padding-block: 0.25em;
        border-bottom: 1px solid var(--border-color);

        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}

.page-table {
    width: 100%;
    border-spacing: 0px;

    thead, tr.heading {
        th {
            position: sticky;
            top: var(--sticky-offset);
            height: var(--main-heading-height);
            /* NOTE: Keep sticky headings on top. */
            z-index: 2;

            background-color: var(--main-background-color);

            text-align: left;
            font-weight: 700;
        }
    }

    /* Ensure that the table sticky headers do not cover the scrolled to element by applying additional scroll offset to the table rows. */
    :has(thead, tr.heading) {
        tr, td {
            scroll-margin-top: var(--main-heading-height);
        }
    }

    th, td {
        padding-inline: 0.75em;

        border-bottom: 1px solid var(--border-color);

        white-space: nowrap;

        &.expand {
            width: 100%;
        }

        &.right {
            text-align: right !important;
        }

        &.right-tight {
            padding-right: 0px;
        }

        &.sticky-content > * {
            position: sticky;
            left: 0.75em;
        }
    }

    tbody {
        th, td {
            padding-block: 0.3em;

            background-color: var(--code-block-background-color);
        }
    }
}

.source-code {
    padding-inline: 0.75em;
    border-spacing: 0;

    white-space: pre;
    tab-size: 4;

    font-family: var(--monospace-font);

    background-color: var(--code-block-background-color);
    color: var(--main-color);

    .line {
        & .line-no {
            background-color: var(--main-background-color);
            padding-left: 1.5em;
            padding-right: 0.75em;

            user-select: none;

            text-align: right;
        }

        & .line-content {
            width: 100%;
            padding-left: 0.75em;
        }

        &.original {
            .line-content {
                background-color: rgba(255, 31, 31, 0.25);

                .hi-mut {
                    background-color: rgba(255, 31, 31, 0.5);
                }
            }
        }
        &.mutated {
            .line-content {
                background-color: rgba(0, 128, 0, 0.25);

                .hi-mut {
                    background-color: rgba(0, 128, 0, 0.5);
                }
            }
        }
    }

    --mutation-group-margin: 2px;
    --mutation-group-border-width: 2px;
    --mutation-group-border-radius: 8px;

    .group, .mutation {
        & .heading {
            & td {
                padding-block: 0.1em;
                padding-inline: 0.5em;
            }

            user-select: none;

            background-color: var(--mutation-group-background-color);
        }

        /* Sides of the border that surrounds all overlapping mutation groups. */
        & .line {
            & td:first-child {
                border-left: solid var(--mutation-group-border-width) var(--mutation-group-background-color);
            }
            & td:last-child {
                border-right: solid var(--mutation-group-border-width) var(--mutation-group-background-color);
            }
        }
    }

    .group {
        .heading {
            & td {
                border-top-left-radius: var(--mutation-group-border-radius);
                border-top-right-radius: var(--mutation-group-border-radius);
            }
        }

        /* Gap before each group. */
        /* NOTE: This needs to be a before pseudo-element because the table layout does not support margins. */
        &::before {
            content: "";
            display: table-row;
            height: var(--mutation-group-margin);
        }
    }

    .mutation {
        &:has(+ .line) {
            /* Gap after each group. */
            /* NOTE: This needs to be a before pseudo-element because the table layout does not support margins. */
            &::after {
                content: "";
                display: table-row;
                height: var(--mutation-group-margin);
            }
        }

        &:has(+ .line, + .group) {
            /* Bottom of the border that surrounds all overlapping mutation groups. */
            /* NOTE: The border needs to be applied specifically to the td elements. */
            & tr:last-child td {
                border-bottom: solid var(--mutation-group-border-width) var(--mutation-group-background-color);

                &:first-child {
                    border-bottom-left-radius: var(--mutation-group-border-radius);
                }
                &:last-child {
                    border-bottom-right-radius: var(--mutation-group-border-radius);
                }
            }
        }
    }
}

/* Assignment of syntax highlighting colors. */
.attr {
    color: var(--code-highlight-attribute-color);
}
.comment {
    color: var(--code-highlight-comment-color);
}
.const {
    color: var(--main-color);
}
.const\! {
    color: var(--main-color);
}
.fn {
    color: var(--main-color);
}
.fn\! {
    color: var(--main-color);
}
.kw {
    color: var(--code-highlight-kw-color);
}
.label {
    color: var(--code-highlight-lifetime-color);
}
.macro {
    color: var(--code-highlight-macro-color);
}
.mod {
    color: var(--main-color);
}
.num {
    color: var(--code-highlight-number-color);
}
.op {
    color: var(--code-highlight-kw-2-color);
}
.prop {
    color: var(--main-color);
}
.prop\! {
    color: var(--main-color);
}
.p {
    color: var(--main-color);
}
.pb {
    color: var(--main-color);
}
.pd {
    color: var(--main-color);
}
.p\! {
    color: var(--main-color);
}
.str {
    color: var(--code-highlight-string-color);
}
.escape {
    color: var(--code-highlight-string-color);
}
.str\! {
    color: var(--code-highlight-string-color);
}
.tag {
    color: var(--main-color);
}
.ty {
    color: var(--main-color);
}
.ty\! {
    color: var(--code-highlight-prelude-color);
}
.var {
    color: var(--main-color);
}
.var\! {
    color: var(--main-color);
}
.param {
    color: var(--main-color);
}
